.section-dev,
.section-av,
.section-graph {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 55px;
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  padding: 70px 30px;
}

@media (min-width: 769px) {
  .section-dev,
  .section-av,
  .section-graph {
    grid-template-columns: auto auto;
    padding: 70px 60px;
  }
}

@media (min-width: 1089px) {
  .section-dev,
  .section-av,
  .section-graph {
    grid-template-columns: auto auto auto;
    gap: 40px;
  }
}

.section-portfolio__service {
  grid-column: 1 / -1; /* Ocupa todas las columnas */
  grid-row: 1; /* Está en la primera fila */
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  min-width: 315px;
  margin: 0;
}

@media (min-width: 769px) {
  .section-portfolio__service {
    text-align: left;
  }
}

.section-portfolio__container {
  display: grid;
  max-width: 515px;
  min-width: 315px;
}

.section-portfolio__img {
  justify-self: center;
  align-self: center;
  height: 150px;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .section-portfolio__img {
    height: 200px;
  }
}

.section-portfolio__video {
  justify-self: center;
  align-self: center;
  width: 280px;
  height: 157px;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .section-portfolio__video {
    width: 350px;
    height: 197px;
  }
}

.section-portfolio__h3 {
  justify-self: center;
  align-self: center;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.section-portfolio__p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 25px;
}

.section-portfolio__a {
  text-decoration: overline;
  color: #2ad8c4;
  font-size: 18px;
  margin-right: 10px;
}
